{% extends "homepage.html" %}

<!DOCTYPE html>
<html>
  <head>
    <title>Log in - UniHomes</title>
  </head>
  <body>
    {% block page_name %}

    <h1>Log in</h1>
    {% endblock %}

    {% block content %}
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <input type="submit" value="Log in">
    </form>
    
    <a href="/views">Back to home page</a>
    <br>
    <a href="/views/signup">Don't have an account? Sign up here.</a>
    {% endblock %}

  </body>
</html>
